---
import About from "@/components/shared/About.astro";
import Hero from "@/components/shared/Hero.astro";
import Location from "@/components/shared/Location.astro";
import Products from "@/components/shared/Products.astro";
import Testimonials from "@/components/shared/Testimonials.astro";
import Main from "../layouts/main.astro";
import "../styles/global.css";
---

<Main
  content={{
    title: "Sonho Doce | Confeitaria Artesanal em Uberlândia",
    description:
      "A melhor confeitaria artesanal de Uberlândia. Bolos, doces personalizados, sobremesas e muito mais. Faça sua encomenda e experimente o sabor do carinho!",
    keywords:
      "confeitaria em uberlândia, bolos em uberlândia, doces personalizados, sobremesas, bolos de festa, confeitaria artesanal",
    image: "/hero-img.jpg",
  }}
>
  <Hero />
  <About />
  <Products />
  <Testimonials />
  <Location />
</Main>
