---
import About from "@/components/shared/About.astro";
import Hero from "@/components/shared/Hero.astro";
import Location from "@/components/shared/Location.astro";
import Products from "@/components/shared/Products.astro";
import Testimonials from "@/components/shared/Testimonials.astro";
import Main from "../layouts/main.astro";
import "../styles/global.css";
---

<Main content={{ title: "Sonho Doce" }}>
  <Hero />
  <About />
  <Products />
  <Testimonials />
  <Location />
</Main>
